<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unitn.lpsmt.group13.pommidori">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pommidori">
        <activity android:name=".Timer"></activity>
        <activity android:name=".Calendario" />
        <activity android:name=".Report" />
        <activity android:name=".Impostazioni" />
        <activity android:name=".Homepage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>