<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unitn.lpsmt.group13.pommidori">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pommidori">
        <service
            android:name=".services.CountDownTimerService"
            android:exported="false" />
        <service
            android:name=".services.PausaTimerService"
            android:exported="false"/>
        <service
            android:name=".services.CountUpTimerService"
            android:exported="false"/>
        <service
            android:name=".services.AccelerometerSensorService"
            android:exported="false"/>
        <activity android:name=".activities.NewActivityAndSession"
            android:label="NewActivityAndSession"
            android:parentActivityName=".activities.Calendario"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Timer"
            android:label="Timer"
            android:parentActivityName=".activities.Homepage"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Calendario"
            android:label="Calendario"
            android:parentActivityName=".activities.Homepage"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Report"
            android:label="Report"
            android:parentActivityName=".activities.Homepage"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Impostazioni"
            android:label="Imposertazioni"
            android:parentActivityName=".activities.Homepage"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Homepage"
            android:label="Pommodori"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>